---
#
# clang v12
#
Checks:
'-*,
    -llvm-header-guard,
    boost-*,
    bugprone-*,
    -bugprone-suspicious-include,
    cert-*,
    clang-analyzer-*,
    -cppcoreguidelines-*,
    concurrency-*,
    google-*,
    hicpp-*,
    misc-*,
    modernize-*,
    -modernize-use-default-member-init,
    -modernize-use-equals-default,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    readability-identifier-naming,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-redundant-access-specifiers,
'

HeaderFilterRegex: '.*'
WarningsAsErrors: 'clang*'
FormatStyle:     file
UseColor:        false
User:            klein_cl

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,             value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                 value: lower_case }
  - { key: readability-identifier-naming.MemberCase,                value: lower_case }
# - { key: readability-identifier-naming.MemberCase,                value: camelBack  }
# - { key: readability-identifier-naming.MemberHungarianPrefix,     value: On         }
# - { key: readability-identifier-naming.MemberPrefix,              value: m_         }
# - { key: readability-identifier-naming.PrivateMemberPrefix,       value: _          }
# - { key: readability-identifier-naming.StructSuffix,              value: _t         }
  - { key: readability-identifier-naming.StructCase,                value: lower_case }
  - { key: readability-identifier-naming.UnionCase,                 value: lower_case }
  - { key: readability-identifier-naming.TypedefCase,               value: lower_case }
  - { key: readability-identifier-naming.TypedefSuffix,             value: _type }
  - { key: readability-identifier-naming.FunctionCase,              value: lower_case }
  - { key: readability-identifier-naming.EnumCase,                  value: CamelCase  }
  - { key: readability-identifier-naming.ConstexprFunctionCase,     value: lower_case }
  - { key: readability-identifier-naming.ConstexprMethodCase,       value: lower_case }
  - { key: readability-identifier-naming.ConstexprVariableCase,     value: lower_case }
  - { key: readability-identifier-naming.ClassConstantCase,         value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,          value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase,        value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantPointerCase, value: UPPER_CASE }
# - { key: readability-identifier-naming.LocalConstantCase,         value: UPPER_CASE }
  - { key: readability-identifier-naming.LocalConstantPointerCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.ScopedEnumConstantCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase,        value: UPPER_CASE }
...
